.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 2rem;
}
.main img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--hue-cotext-4)
}

.main p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.main p:first-of-type {
  margin-top: 0;
  font-style: italic;
}
.main p:last-of-type {
  margin: 3rem auto 0;
  font-family: var(--font-geist-mono);
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 660px) {
  .main {
    max-width: 75%;
  }
  .main p {
    font-size: 1.2rem;
  }
  .main p:last-of-type {
    text-align: left;
  }
  
}